name: Go

on:
  push:
    branches:
      - master
  pull_request: {}

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Go 1.25
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - run: go mod download

      - name: Test
        run: go test -v ./...

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Go 1.25
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - run: go mod download

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
          # Verbose output
          args: -v
